{% extends 'base.html.twig' %}

{# @var location \App\Entity\Location #}
{# @var weather \App\Entity\Weather #}

{% block title %}Weather in {{ location.city }}, {{ location.country }}{% endblock %}

{% block body %}
<main>
    <h1>Weather in {{ location.city }}, {{ location.country }}</h1>

    <ul>
        {% for weather_entry in weather_entries %}
            <li>{{ weather_entry.date|date('d.m.Y') }}: {{ weather_entry.temperature }}&deg;C</li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
